:root{
    --primary: #e70146;
    --hover-color: #fdd052;
    --dark: #1c2022;
    --light: #fff;
    --header-bg: var(--primary);

}
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/Vazir.woff2') format('woff2'), 
    url('../fonts/Vazir.woff') format('woff'), 
    url('../fonts/Vazir.ttf') format('truetype');
   }

body{
    font-family: "Vazir";
    direction: rtl;
    font-size: 1rem;
    background-color:silver;
    background-image:
    radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
    radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
    background-size: 100px 50px;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.login-box{
    padding: 10px 70px 10px 70px;
    font-size: .8em;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(5, 0, 0, 0.2);
    background-color: rgba(212, 212, 212, .9);
}
.login-box form .do-u-have {
    color: var(--dark);
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.login-box form .do-u-have a{
    font-size: 1em;
    font-weight: bolder;
    color: var(--primary);
}
.login-box form .input-group{
    margin: 30px 0;
}
.login-box form .input-group label{
    display: block;
    font-size: 1.2em;
    font-weight: bolder;
}
.login-box form .input-group input{
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 5px;
    font-family: "Vazir";
    direction: ltr;
}
.login-box form .submit-btn-container{
    text-align: center;
}
.login-box form .submit-btn-container input{
    font-family: "Vazir";
    width: 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 1.5px solid #979797;
    letter-spacing: 2px;
    font-weight: bolder;
}
.login-box form .submit-btn-container input:focus{
    background: #c1c2c2;
    border-bottom: 1.5px solid transparent;
}
.login-box .social-auth{
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
    border-top: 1px solid #979797;
}
.login-box .social-auth a{
    color: var(--primary);
    font-size: 1.5em;
}
.input-checkbox label{
    display: inline;
    font-weight: bolder;
    font-size: .8em;
    color: var(--dark);
}
.input-checkbox input{
    padding: 0;
}
@media only screen and (min-width:80em){
    .container{
        width: 100%;
    }
}
@media only screen and (max-width:80em){
    .container{
        width: 100%;
    }
}
@media only screen and (max-width:60em){

    .container{
        width: 100%;
    }
    .login-box form .do-u-have {
        font-size: .7em;
    }
    .login-box form .do-u-have a{
        font-size: .9em;
    }
    .input-checkbox label{
        font-size: .7em;
    }
}